services:
  database:
    image: "postgres:latest"
    ports: 
      - 5432:5432
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: my_password
      POSTGRES_DB: mydatabase
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata: